footer {
  background: rgb(40,40,40);
  background: linear-gradient(180deg, rgb(24, 24, 24) 0%, rgb(56, 56, 56) 100%, rgba(19,19,19,1) 131313%);
  color: white;

  a {
    color: white;
  }

  img.logo {
    width: 40%;
    max-height: 10rem;
  }
  img.mobile-store {
    width: auto;

    &.android {
      height: 3.9rem;
    }
    &.ios {
      height: 3rem;
    }
  }
}