#shop {
  background: url("assets/backgrounds/background-3-bands.png") no-repeat center center rgb(9,51,128);
  background-size: cover;
  color: white;

  * {
    border-color: white;
  }

  .col-2 {
    width: 20%;
  }
  @media (min-width: 992px) {
    .col-lg-2 {
      width: 20%;
    }
  }

  .card {
    .card-title {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.2;
      color: inherit;

      display: -webkit-box;
      //max-width: 200px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .stock-icon {
      height: 1rem;
    }
  }

}